@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Quicksand:wght@300..700&display=swap");
:root {
  --clr-primary: #153939;
  --clr-secondary: #c93f4f;
  --clr-dark: #2b2b2b;
  --clr-light: #ffffff;
  --font-primary: "Quicksand", sans-serif;
  --font-secondary: "DM Serif Text", serif;
  --h1: 8rem;
  --h2: 5rem;
  --h3: 3rem;
  --h4: 2.5rem;
  --h5: 2rem;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  scroll-behavior: smooth;
  list-style: none;
}
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  color: var(--clr-dark);
  font-family: var(--font-primary);
  font-size: 1.6rem;
  overflow-x: hidden;
  line-height: 1.4;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
article,
aside,
footer,
header,
nav,
section,
time {
  display: block;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 140rem;
  margin: 0 auto;
  padding: 0 5rem;
}

/* HEADER */
.header {
  position: sticky;
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo a {
  font-size: var(--h3);
  font-family: var(--font-secondary);
  color: var(--clr-primary);
}
.header__nav {
  display: flex;
  gap: 3rem;
  text-transform: uppercase;
}
.header__nav li a {
  color: var(--clr-primary);
  font-size: 1.4rem;
  position: relative;
}
.header__nav li a::after {
  position: absolute;
  content: "";
  bottom: -3.1rem;
  width: 0;
  height: 3px;
  background-color: var(--clr-secondary);
  left: 0;
  transition: all 0.3s ease;
}

.header__nav li a:hover::after,
.header__nav li a.active::after {
  width: 100%;
}

/* MOBILE HEADER */
.header .toggle__menu span {
  background-color: var(--clr-primary);
  width: 3rem;
  height: 0.3rem;
  display: block;
  border: 2px solid var(--clr-primary);
  border-radius: 1rem;
  transition: all 0.5s ease;
}
.header .toggle__menu {
  display: none;
}
@media screen and (max-width: 520px) {
  .header .toggle__menu {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .header {
    position: fixed;
    width: 100%;
    background-color: var(--clr-light);
    z-index: 999999;
  }
  .header__nav {
    position: fixed;
    flex-direction: column;
    top: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-light);
    width: 100%;
    height: 100vh;
    margin-top: 22rem;
    transform: translateY(-14rem);
    z-index: 99;
    right: -100%;
    transition: all 0.5s ease;
  }
  .header__nav.open {
    right: 0;
  }
  .header img {
    width: 10rem;
  }
  .header__nav li a {
    font-size: 2rem;
  }
  .header__nav li a::after {
    background-color: unset;
  }
  .header__nav li a:hover,
  .header__nav li a.active {
    color: var(--clr-secondary);
  }

  .toggle__menu.open span:first-child {
    transform: translate(0, 6px) rotate(225deg);
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:nth-child(2) {
    opacity: 0;
    transition: all 0.5s ease;
  }
  .toggle__menu.open span:last-child {
    transform: translate(0, -11.5px) rotate(-225deg);
    transition: all 0.5s ease;
  }
}

/* BANNER */
.banner {
  padding-top: 7rem;
  background-color: var(--clr-primary);
  height: 72rem;
}
.banner__wrapper h1 {
  text-align: center;
  font-size: var(--h1);
  font-family: var(--font-secondary);
  color: var(--clr-light);
  margin-bottom: 5rem;
}
.banner__wrapper p {
  max-width: 60rem;
  text-align: center;
  color: var(--clr-light);
  margin: 0 auto;
}
.banner img {
  margin: 10rem 0;
  width: 100%;
}

/* MOBILE BANNER */
@media screen and (max-width: 520px) {
  .banner {
    padding-top: 10rem;
    height: 50rem;
  }
  .banner__wrapper h1 {
    font-size: var(--h3);
  }
  .banner img {
    margin-top: 10rem;
    margin-bottom: 0;
  }
}

/* HOLIDAY */
.holiday {
  padding-top: 5rem;
  margin-top: 10rem;
}
.holiday__wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5rem;
}
.holiday__left {
  border-right: 1px solid rgba(18, 17, 17, 0.1);
  padding-right: 5rem;
}
.holiday__left small {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.holiday__left h2 {
  font-size: var(--h2);
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  line-height: 5rem;
  max-width: 50rem;
  padding: 1.3rem 0;
}

.holiday__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  padding: 5rem 0;
}

.holiday__right {
  margin-top: 70rem;
}
.holiday__right h4 {
  font-size: var(--h4);
  margin-bottom: 2rem;
  color: var(--clr-primary);
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 520px) {
  .holiday__left h2 {
    font-size: var(--h3);
    line-height: 4rem;
  }
  .holiday__wrapper {
    grid-template-columns: 1fr;
    gap: unset;
  }
  .holiday__cards {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
  .holiday__left {
    border-right: unset;
    padding-right: unset;
  }
  .holiday,
  .holiday__right {
    margin-top: 0rem;
  }
}

/* DESIGNS */
.design {
  padding: 5rem 0;
  margin-bottom: 10rem;
}
.design__wrapper {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  height: 68rem;
  padding: 5rem 7rem;
  text-align: center;
  position: relative;
}
.design__details small {
  font-size: 1.3rem;
}
.design__details h2 {
  font-family: var(--font-secondary);
  font-size: var(--h2);
  margin-bottom: 3rem;
}
.design__details p {
  max-width: 60rem;
  margin: 0 auto;
}
.design__img {
  margin-bottom: 8.1rem;
}
.design__img img:first-child {
  position: absolute;
  left: 10rem;
  top: 7rem;
  width: 25rem;
}
.design__img img:last-child {
  position: absolute;
  right: 10rem;
  top: 7rem;
  width: 25rem;
}
.design__content {
  border-top: 4px solid #fb5957;
  background-color: var(--clr-light);
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.design__card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--clr-dark);
  padding: 3rem 2rem;
  text-align: left;
  border-right: 1px solid rgba(18, 17, 17, 0.1);
}
.design__card h4 {
  font-family: var(--font-secondary);
  font-size: var(--h4);
}

.design__card small {
  font-size: 1.3rem;
}

/* MOBILE DESIGN */
@media screen and (max-width: 520px) {
  .design__img {
    display: none;
  }
  .design__content {
    margin-top: 5rem;
    flex-direction: column;
    background-color: unset;
  }
  .design__wrapper {
    height: 100%;
  }
  .design__card {
    background-color: var(--clr-light);
    margin-bottom: 2rem;
  }
  .design {
    margin-bottom: unset;
  }
}

/* TRADITIONS */
.tradition {
  padding: 5rem 0;
}
.tradition__wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1.3fr;
  gap: 5rem;
}
.tradition__item {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 3.5rem;
}
.tradition__item img {
  width: 35rem;
}
.tradition__item span {
  color: var(--clr-secondary);
  font-size: 1.4rem;
  font-weight: 500;
}
.tradition__item h4 {
  font-family: var(--font-secondary);
  line-height: 3rem;
  font-size: var(--h4);
  color: var(--clr-primary);
}
.tradition__item small {
  color: var(--clr-primary);
  font-family: var(--font-secondary);
  font-size: 1.3rem;
  font-style: italic;
}
.tradition__item p {
  color: var(--clr-primary);
  margin-top: 1rem;
}
.tradition__item--title {
  margin-bottom: 2rem;
}
.tradition__mail {
  border-image: url(./IMG/border.png) 5 fill;
  height: 67rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tradition__mail small {
  color: var(--clr-primary);
  font-family: var(--font-secondary);
  font-size: 1.3rem;
}
.tradition__mail h2 {
  color: var(--clr-primary);
  font-family: var(--font-secondary);
  font-size: var(--h2);
  margin: 1rem 0;
}
.tradition__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}
.tradition__info input {
  padding: 1rem 2rem;
  outline-color: var(--clr-primary);
}
.tradition__info input::placeholder {
  color: var(--clr-primary);
}
.tradition__flakes {
  color: var(--clr-primary);
  position: relative;
}
.flakes-1 {
  position: absolute;
  font-size: 5rem;
  clip-path: rect(30px 50px 90% 0%);
  bottom: 12.5rem;
  right: 12rem;
}
.flakes-2 {
  position: absolute;
  font-size: 5rem;
  clip-path: rect(10px 19px 90% 0%);
  left: 16rem;
  top: 30rem;
}
.flakes-3 {
  position: absolute;
  font-size: 3rem;
  right: 10rem;
  top: 25rem;
}
.flakes-4 {
  position: absolute;
  font-size: 3rem;
  left: 10rem;
  bottom: 10rem;
}
.flakes-5 {
  position: absolute;
  font-size: 2rem;
  right: 10rem;
  bottom: 5rem;
}

/* MOBILE TRADITION */
@media screen and (max-width: 520px) {
  .tradition__wrapper {
    grid-template-columns: 1fr;
  }
  .tradition__item {
    flex-direction: column;
  }
  .tradition__item img {
    width: 100%;
  }
  .flakes-2 {
    position: absolute;
    font-size: 5rem;
    clip-path: rect(10px 19px 90% 0%);
    left: 14rem;
    top: 30rem;
  }
}

/* FESTIVITIES */
.festivities {
  padding: 5rem 0;
  margin-bottom: 10rem;
}
.festivities__wrapper {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  height: 55rem;
  padding: 5rem 7rem;
  text-align: center;
  position: relative;
}
.festivities__details small {
  font-size: 1.3rem;
}
.festivities__details h2 {
  font-family: var(--font-secondary);
  font-size: var(--h2);
  margin-bottom: 3rem;
}
.festivities__details p {
  max-width: 60rem;
  margin: 0 auto;
}
.festivities__img {
  margin-bottom: 8.1rem;
}
.festivities__img img:first-child {
  position: absolute;
  left: 10rem;
  top: 7rem;
  width: 25rem;
}
.festivities__img img:last-child {
  position: absolute;
  right: 10rem;
  top: 7rem;
  width: 25rem;
}
.festivities__content {
  border-top: 4px solid #fb5957;
  background-color: var(--clr-light);
  display: flex;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.festivities__item:last-child {
  border-right: none;
}

.festivities__item {
  /* display: flex; */
  padding: 2rem 3rem;
  border-right: 1px solid rgba(18, 17, 17, 0.1);
}
.festivities__item ul {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: left;
  margin-bottom: 3rem;
}
.festivities__item ul:last-child {
  margin-bottom: unset;
}
.festivities__item span {
  padding: 0.7rem 1.3rem;
  letter-spacing: -0.1rem;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
  border-radius: 100%;
}
.festivities__item p {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  line-height: 1.5rem;
}
.festivities__item small {
  color: var(--clr-primary);
  font-size: 1.2rem;
}

/* MOBILE FESTIVITIES */
@media screen and (max-width: 520px) {
  .festivities__img {
    display: none;
  }
  .festivities__content {
    margin-top: 5rem;
    flex-direction: column;
    background-color: unset;
  }
  .festivities__wrapper {
    height: 100%;
  }
  .festivities__item {
    background-color: var(--clr-light);
    margin-bottom: 2rem;
  }
  .festivities {
    margin-bottom: unset;
  }
}

/* DECORATIONS */
.decor {
  padding: 5rem 0;
}
.decor__wrapper {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 5rem;
}
.decor__left {
  border-right: 1px solid rgba(18, 17, 17, 0.1);
  padding-right: 5rem;
}
.decor__left img {
  margin-bottom: 1rem;
  border-bottom: 4px solid #fb5957;
}
.decor__left--text span {
  color: var(--clr-secondary);
}
.decor__left--text h3 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: var(--h3);
  margin-bottom: 3rem;
}
.decor__left--text small {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 200;
  color: var(--clr-primary);
}
.decor__left--text p {
  color: var(--clr-primary);
  max-width: 80rem;
}
.decor__right h4 {
  font-size: var(--h4);
  margin-bottom: 2rem;
  color: var(--clr-primary);
}

/* MOBILE DECOR */
@media screen and (max-width: 520px) {
  .decor__wrapper {
    grid-template-columns: 1fr;
  }
  .decor__left {
    border-right: unset;
    padding-right: unset;
  }
}

/* FOOTER */
.footer {
  padding: 5rem 0;
  background-color: var(--clr-secondary);
  color: var(--clr-light);
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5rem;
}
.footer__top h4 {
  font-size: var(--h4);
  font-family: var(--font-secondary);
}
.footer__top p {
  border: 2px solid var(--clr-light);
  padding: 1.5rem;
  border-radius: 50%;
  font-size: 1.3rem;
}
.footer__top span {
  text-decoration: underline;
  text-transform: uppercase;
}
.footer__links {
  display: flex;
  gap: 5rem;
}
.footer__links ul:first-child {
  max-width: 40rem;
}
.footer__links ul li:first-child {
  margin-bottom: 3rem;
  font-size: 1.3rem;
  font-weight: 700;
}

.footer__links ul li a {
  text-decoration: underline;
  color: var(--clr-light);
}

.footer__links-a,
.footer__links-b {
  display: flex;
  gap: 5rem;
}

/* MOBILE FOOTER */
@media screen and (max-width: 520px) {
  .footer__links {
    flex-direction: column;
    justify-content: center;
  }
}

/* TRADITION PAGE */
.x-masBanner {
  padding: 5rem 0;
}
.x-masBanner__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.x-masBanner img {
  width: 50rem;
  margin-bottom: 5rem;
}
.x-masBanner h1 {
  font-size: var(--h1);
  color: var(--clr-primary);
  letter-spacing: -0.5rem;
}
.x-masBanner h5 {
  color: var(--clr-secondary);
  font-style: italic;
  font-weight: 200;
  font-size: var(--h5);
  font-family: var(--font-secondary);
  max-width: 48rem;
  text-align: center;
}

/* MOBILE XMAS BANNER */
@media screen and (max-width: 520px) {
  .x-masBanner h1 {
    font-size: var(--h2);
  }
}

/* CARDS */
.Cards {
  padding: 5rem 0;
}
.Cards__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
/* MOBILE - CARDS */
@media screen and (max-width: 520px) {
  .Cards__wrapper {
    grid-template-columns: 1fr;
  }
}

/* DESIGN - ART */
.art {
  padding: 5rem 0;
}
.art h2 {
  font-family: var(--font-secondary);
  font-size: var(--h2);
  text-align: center;
}
.art__text {
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  color: var(--clr-light);
}
.art__wrapper {
  background-color: var(--clr-secondary);
  height: 60rem;
  margin-bottom: 10rem;
}
.art__content {
  padding: 5rem;
  display: grid;
  place-content: center;
  grid-gap: 3rem;
  grid-template-areas:
    "a c e e f"
    "b d e e g";
}
.grid {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  background-color: var(--clr-light);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: 0.5s all ease;
  z-index: 999;
}
.grid:hover {
  transform: translateY(-2rem);
  transition: 0.5s all ease;
}
.grid img {
  display: block;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: -99;
  transition: 0.5s all ease;
  object-fit: cover;
  overflow: hidden;
  border-bottom: 4px solid #fb5957;
}
.grid__text {
  padding: 1rem;
  background-color: var(--clr-light);
}
.grid__text h5 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: var(--h5);
}
.grid__text a {
  font-size: 1.2rem;
  color: var(--clr-secondary);
}
.art--e h2 {
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  font-size: var(--h2);
  text-align: left;
  line-height: 7rem;
}
.art--e > .grid__text {
  padding: 2rem;
}
.art--g {
  color: var(--clr-secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-light);
}
.art--g h3 {
  font-size: var(--h3);
  font-family: var(--font-secondary);
}
.art--g:hover {
  background-color: var(--clr-secondary);
  color: var(--clr-light);
}
.art--b {
  grid-area: b;
}
.art--c {
  grid-area: c;
}
.art--d {
  grid-area: d;
}
.art--e {
  grid-area: e;
}
.art--f {
  grid-area: f;
}
.art--g {
  grid-area: g;
}

/* MOBILE ART - DESIGN */
@media screen and (max-width: 520px) {
  .x-masBanner {
    padding-top: 10rem;
  }
  .x-masBanner h1 {
    line-height: 8rem;
    margin-bottom: 3rem;
  }
  .art {
    padding: 2.5rem 0;
  }
  .art__wrapper {
    height: 100%;
    margin-bottom: unset;
  }
  .art__content {
    grid-template-areas:
      "a"
      "b"
      "c"
      "d"
      "e"
      "f"
      "g";
  }
  .art--e h2 {
    font-size: var(--h5);
    line-height: unset;
  }
  .art--e > .grid__text {
    padding: 1rem;
  }
  .grid:hover {
    transform: unset;
    transition: 0.5s all ease;
  }
}

/* REPEATABLE PATTERNS */
.btn {
  background-color: transparent;
  color: transparent;
}
.btn.bg--red {
  padding: 1rem 3rem;
  background-color: var(--clr-secondary);
  font-size: 1.2rem;
  text-align: center;
  color: var(--clr-light);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}

.btn.bg--red:hover span {
  position: relative;
  left: 0.5rem;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.btn.bg--green {
  padding: 1rem 1.5rem;
  background-color: var(--clr-primary);
  font-size: 1.2rem;
  color: var(--clr-light);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.5s;
}
p > span {
  text-decoration: underline;
}
/* ---- card ---- */
.card img {
  border-bottom: 4px solid #fb5957;
}
.card__details {
  padding: 1rem;
}
.card__details span {
  color: var(--clr-secondary);
}
.card__details h3 {
  font-size: var(--h3);
  line-height: 3rem;
  font-family: var(--font-secondary);
  color: var(--clr-primary);
  padding: 1rem 0;
}
.card__details small {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 200;
  color: var(--clr-primary);
}
.card__details p {
  color: var(--clr-primary);
  margin-top: 1rem;
}

/* .card::after {
  left: 0;
  top: 18.75em;
  width: 100%;
  height: 2em;
  content: "";
  position: absolute;
  display: inline-block;
  background: repeating-linear-gradient(
    45deg,
    #859c9c,
    #859c9c 2px,
    #fff 2px,
    #fff 6px
  );
} */

/* ---- item ---- */
.item {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}
.item img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}
.item__details h5 {
  font-family: var(--font-secondary);
  font-size: var(--h5);
  line-height: 2rem;
  margin-bottom: 0.5rem;
}
.item__details small {
  font-size: 1.3rem;
  font-style: italic;
  font-weight: 200;
  color: var(--clr-primary);
}
